@media only screen and (max-width: 360px) {
    main .contact-area {
        padding: 0px;
    }

    main .main-section .main-section-content h1 {
        font-size: 44px;
    }

    main .about-area .about-info-area h1 {
        font-size: 48px;
    }

    main .about-area .about-info-area p {
        max-width: 280px;
    }

    main .about-area .about-info-area {
        text-align: center!important;
    }

    main .contact-area .left {
        width: 90%!important;
    }

    main .contact-area .right {
        width: 90%!important;
    }

    main .contact-area {
        justify-content: center;
    }

    main .contact-area .left form {
        padding-top: 35px;
    }

    main .contact-area .right h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 600px) {

body .pinned-social-links {
    width: 12%;
    left: 88%;
} 


main .categories {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #141414;
}

main .categories .image {
    max-width: 520px;
}

main .categories .hover,.categories .hover2,.categories .hover3 {
    width: 100%;
    height: 450px;
}

main .categories .hover {
    width: 100%;
    left: 0;
}

main .categories .hover2, main .categories .hover3 {
    left: 0%;
}

main .new-on-sale-content {
    flex-wrap: wrap;
}

main .new-arrivals {
    flex-wrap: wrap;
}

main .new-arrivals .left {
    width: 100%;
    height: 385px;
}

main .new-arrivals .right {
    width: 100%;
}

main .new-arrivals {
    flex-wrap: wrap;
}

main .about-area .about-info {
    width: 100%;
}

main .contact-area {
    flex-wrap: wrap;
}

main .contact-area .left {
    width: 100%;
    margin-bottom: 100px;
}

main .contact-area .right {
    width: 100%;
}

main .mail-list-content {
    width: 100%;
}

main .mail-list-content h1 {
    font-size: 30px;
}

main .mail-list-content h3 {
    font-size: 18px;
}

main .mail-list {
    padding: 25px;
}

footer {
    display: grid;
    flex-wrap: wrap;
    height: 135px;
}

footer .links-area {
    width: 80%;
    margin: auto;
}

footer p {
    margin-left: 35px;
}




}


@media only screen and (min-width:600px) and (max-width:800px) {
    main .about-area .about-info-area {
        text-align: center;
    }

    main .about-area .about-info-area h1 {
        font-size: 45px;
    }

    main .about-area .about-info-area p {
        max-width: 260px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav {
        display: grid;
        justify-content: center;
    }
}

@media only screen and (min-width: 991px) {

header .navbar-collapse {
    height: 70px;
}

header .separator {
    display: block;
}


}


@media only screen and (min-width:1340px){
     main .categories .image {
        max-width: 475px!important;
    }
}